.header{
    text-align: center;
    // display: flex;
    margin:30% 0% 5% 0%;
}
.img{
    width: 30%;
    height: 30%;
}
.title{
    color: #009670;
    font-weight: bold;
    font-size: 36px;
    // font-size: 240%;
    padding: 0%;
    margin: 0%;
    text-align: center;
}
.button{
    width: 80%;
    margin:50% 10% 10% 10%;
    --background: #009670;
    font-weight: bold;
}
// .input{
//     background-color: #fff;
//     border-color: #009670;
//     border-width: 2px;
//     border-style: solid;
//     margin: 10% 0% 3% 10%;
//     width: 80%;
//     text-align: left;
//     font-size: 90%;
//     color: #000;
// }
// .button{
//     --background: #009670;
//     width: 80%;
//     --border-radius: 8px;
//     margin:5% 0% 5% 0%;
//     font-size: 90%;
//     font-weight: bold;
// }