<body>
  <!-- <ion-toolbar>
    <div class="header">
      <img class="img" src="assets/icon/index.png"/>
      <ion-title class="title">INICIO<br>SESION</ion-title>
    </div>
  </ion-toolbar> -->
  
  <div class="header">
    <img class="img" src="assets/icon/index.png"/>
    <!-- <ion-title class="title">INICIO SESION</ion-title>
    <ion-button type="submit" (click)="onLoginGoogle(email,password)">Ingresar con Google</ion-button> -->
    <ion-button class="button" href="/tabs">INGRESAR</ion-button> 
  </div>
  
  <!-- <ion-content>
    <ion-input class="input" type="email" placeholder="Correo"></ion-input>
    <ion-input class="input" type="password" placeholder="Contraseña"></ion-input>
    <ion-button class="button" href="/tabs">INGRESAR</ion-button> 
  </ion-content> -->
</body>