<body>
  <ion-header>
    <ion-toolbar style="--ion-background-color: #fff;">
      <ion-title class="title">DETALLE</ion-title>
      <ion-buttons slot="start">
        <ion-back-button style="color: #016587; font-weight: bold;" defaultHref="tab1"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div *ngIf="caracter">
      <ion-card class="ion-text-center card">
        <ion-card-content>
          <img src="{{caracter.image}}" alt="">
          <ion-card-title>{{caracter.name}}</ion-card-title>
          <div class="label">
            <ion-label>Estado: {{caracter.status}}<br></ion-label>
            <ion-label>Especie: {{caracter.species}}<br></ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</body>
