<body>
  <ion-header>
    <ion-toolbar style="--ion-background-color: #fff;">
      <ion-title class="title">DETALLE</ion-title>
      <ion-buttons slot="start">
        <ion-back-button style="color: #016587; font-weight: bold;" defaultHref="tab1"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div *ngIf="caracter">
      <ion-card class="ion-text-center card">
        <ion-card-content>
          <img src="{{caracter.img}}" alt="">
          <ion-card-title class="fecha">{{caracter.fecha}}</ion-card-title>
          <div class="label">
            <ion-label>Latitud: {{caracter.latitud}}<br></ion-label>
            <ion-label>Longitud: {{caracter.longitud}}<br></ion-label>
            <ion-label>Profundidad: {{caracter.profundidad}} Km<br></ion-label>
            <ion-label>Magnitud: {{caracter.magnitud}} MI<br></ion-label>
            <ion-label>Referencia: {{caracter.referencia}}<br></ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</body>
